.wrapper {
  box-sizing: border-box;
  padding: 0 $wrapper-padding;
}

@media (max-width: $medium-width) {
  .wrapper {
    padding: 0 3.4rem;
  }
}

@media (max-width: $narrow-width) {
  .wrapper {
    padding: 0 2.7rem;
  }
}
