.wrapper {
  box-sizing: border-box;
  padding: 0 $wrapper-padding;
}

@media (min-width: $medium-width) and (max-width: 1019px) {
  .wrapper {
    padding: 0 3.4rem;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .wrapper {
    padding: 0 2.7rem;
  }
}
