.to-left {
  -webkit-animation: 0.5s ease-in-out;
          animation: 0.5s ease-in-out;
  -webkit-animation-name: left;
          animation-name: left; }

.to-right {
  -webkit-animation: 0.5s ease-in-out;
          animation: 0.5s ease-in-out;
  -webkit-animation-name: to-right;
          animation-name: to-right; }

.from-left {
  -webkit-animation: 0.5s ease-in-out;
          animation: 0.5s ease-in-out;
  -webkit-animation-name: from-left;
          animation-name: from-left; }

.from-right {
  -webkit-animation: 0.5s ease-in-out;
          animation: 0.5s ease-in-out;
  -webkit-animation-name: right;
          animation-name: right; }

@-webkit-keyframes left {
  from {
    left: 0; }
  to {
    left: -100%; } }

@keyframes left {
  from {
    left: 0; }
  to {
    left: -100%; } }

@-webkit-keyframes from-left {
  from {
    left: -100%; }
  to {
    left: 0; } }

@keyframes from-left {
  from {
    left: -100%; }
  to {
    left: 0; } }

@-webkit-keyframes right {
  from {
    left: 100%; }
  to {
    left: 0; } }

@keyframes right {
  from {
    left: 100%; }
  to {
    left: 0; } }

@-webkit-keyframes to-right {
  from {
    left: 0; }
  to {
    left: 100%; } }

@keyframes to-right {
  from {
    left: 0; }
  to {
    left: 100%; } }

html {
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

h1 {
  margin: 0.67rem 0;
  font-size: 2rem; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace;
  font-size: 1rem; }

a {
  background-color: transparent; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace;
  font-size: 1rem; }

small {
  font-size: 80%; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sub {
  bottom: -0.25rem; }

sup {
  top: -0.5rem; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35rem 0.75rem 0.625rem; }

legend {
  box-sizing: border-box;
  display: table;
  max-width: 100%;
  padding: 0;
  color: inherit;
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

template {
  display: none; }

[hidden] {
  display: none; }

.visually-hidden:not(focus):not(active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.visually-hidden:not(focus):not(active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

:root {
  font-family: "Lato", sans-serif;
  font-size: 10px;
  line-height: 2;
  scroll-behavior: smooth; }

.page {
  width: 1020px;
  padding-top: 95px;
  margin: 0 auto;
  box-shadow: 0 1px 3px 0 rgba(50, 55, 70, 0.7); }
  .page_noscroll {
    padding-right: 15px;
    overflow: hidden;
    box-shadow: none; }

@media (max-width: 768px) {
  .page {
    width: 768px;
    margin: 0; } }

@media (max-width: 375px) {
  .page {
    width: 375px;
    padding-top: 0; } }

.page::-webkit-scrollbar {
  width: 15px; }

.page::-webkit-scrollbar-track {
  background-color: #f06c64; }

.page::-webkit-scrollbar-thumb {
  background-color: #2d303a;
  border-radius: 2rem;
  outline: 1px solid #f06c64;
  box-shadow: inset 0 0 10px #000000; }

.wrapper {
  box-sizing: border-box;
  padding: 0 4rem; }

@media (max-width: 768px) {
  .wrapper {
    padding: 0 3.4rem; } }

@media (max-width: 375px) {
  .wrapper {
    padding: 0 2.7rem; } }

.header__main {
  position: fixed;
  top: 0;
  z-index: 99;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1020px;
  min-height: 95px;
  color: #ffffff;
  background-color: #2d303a;
  box-shadow: inset 0 -6px 0 0 #323746, 0 -2px 10px 1px rgba(0, 0, 0, 0.3);
  opacity: 0.97; }

@media (max-width: 768px) {
  .header__main {
    width: 768px; } }

@media (max-width: 375px) {
  .header__main {
    position: relative;
    width: 375px; } }

.logo {
  padding: 0;
  margin: 0; }
  .logo__item {
    list-style: none; }
    .logo__item-link {
      font-size: 2.41rem;
      font-weight: 700;
      line-height: 1.7rem;
      text-transform: uppercase; }
  .logo__link-star {
    color: #f06c64; }

@media (max-width: 375px) {
  .logo {
    margin: 0 auto; } }

.link {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  outline: none; }
  .link:focus, .link_active, .link_active:hover {
    color: #f06c64; }
  .link_contacts {
    position: relative;
    padding-right: 40px;
    -webkit-transition: 0.1s linear;
    transition: 0.1s linear; }
    .link_contacts::before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 30px;
      height: 30px;
      content: "";
      background-repeat: no-repeat;
      background-position: center;
      border: 1px solid #666d89;
      border-radius: 50%; }
    .link_contacts:focus::before, .link_contacts:hover::before {
      cursor: pointer;
      box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.3);
      -webkit-transition: 0.2s linear;
      transition: 0.2s linear;
      -webkit-transform: translateY(-1px);
          -ms-transform: translateY(-1px);
              transform: translateY(-1px); }
    .link_contacts-facebook::before {
      background-image: url("./assets/images/icons/facebook.png"); }
    .link_contacts-google::before {
      background-image: url("./assets/images/icons/google.png"); }
    .link_contacts-twitter::before {
      background-image: url("./assets/images/icons/twitter.png"); }
    .link_contacts-linkedin::before {
      background-image: url("./assets/images/icons/linkedin.png"); }

.navigation-main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 0.5rem; }
  .navigation-main__button {
    display: none; }
  .navigation-main__list {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-width: 371px;
    padding: 0;
    margin: 0; }
    .navigation-main__list::before {
      position: absolute; }
  .navigation-main__item {
    position: relative;
    padding-right: 2.8rem;
    font-size: 2rem;
    font-weight: 700;
    line-height: 4rem;
    list-style: none; }
    .navigation-main__item::after {
      position: absolute;
      top: 0.2rem;
      right: 1.1rem;
      font-weight: 300;
      color: #494e62;
      content: "\00B7"; }
    .navigation-main__item:last-child, .navigation-main__item:last-child::after {
      padding-right: 0;
      content: ""; }
  .navigation-main__item-link {
    padding: 20px 0;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase; }
    .navigation-main__item-link:hover {
      color: #f06c64;
      -webkit-transition: all 0.2s linear;
      transition: all 0.2s linear; }

@media (max-width: 768px) {
  .navigation-main__item-link {
    font-size: 1.5rem; } }

@media (max-width: 375px) {
  .navigation-main {
    position: absolute;
    left: -150%;
    display: block; }
    .navigation-main__button {
      position: fixed;
      top: 32px;
      left: 20px;
      display: none;
      width: 25px;
      height: 20px;
      background-color: transparent;
      border: none;
      -webkit-transition: -webkit-transform 0.15s ease;
      transition: -webkit-transform 0.15s ease;
      transition: transform 0.15s ease;
      transition: transform 0.15s ease, -webkit-transform 0.15s ease; }
      .navigation-main__button-inner {
        position: absolute;
        display: block;
        width: 25px;
        height: 3px;
        background-color: #fff;
        border-radius: 5px;
        top: 50%; }
        .navigation-main__button-inner::before {
          position: absolute;
          display: block;
          width: 25px;
          height: 3px;
          background-color: #fff;
          border-radius: 5px;
          top: -10px;
          content: ""; }
        .navigation-main__button-inner::after {
          position: absolute;
          display: block;
          width: 25px;
          height: 3px;
          background-color: #fff;
          border-radius: 5px;
          top: 10px;
          content: ""; } }

.slider {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .slider_background-red {
    background-color: #f06c64;
    box-shadow: inset 0 -6px 0 0 #ea676b;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  .slider_background-blue {
    background-color: #648bf0;
    box-shadow: inset 0 -6px 0 0 #7674c2;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  .slider__gallery {
    width: 80%;
    padding: 0;
    margin: 0;
    list-style: none; }
  .slider__control_previous {
    background-image: url("./assets/images/icons/chev.png");
    background-position: 41px 281px;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear; }
  .slider__control_next {
    background-image: url("./assets/images/icons/chev.png");
    background-position: 42px 292px;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }
  .slider__control_blue {
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear; }
  .slider__control_blue:hover {
    box-shadow: inset 10px 0 20px -15px #181a1f;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear; }
  .slider__control_previous:hover, .slider__control_next:hover {
    box-shadow: inset 10px 0 20px -15px #181a1f;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear; }
  .slider__slide_slide-1::before {
    position: absolute;
    top: 53px;
    left: 546px;
    display: block;
    width: 240px;
    height: 483px;
    content: "";
    background-image: url("./assets/images/iphone/Shadow.png");
    background-size: cover;
    -webkit-transform: rotate(90deg) scale(1, -1);
        -ms-transform: rotate(90deg) scale(1, -1);
            transform: rotate(90deg) scale(1, -1); }
  .slider__slide_slide-1::after {
    position: absolute;
    top: 53px;
    left: 113px;
    display: block;
    width: 240px;
    height: 483px;
    content: "";
    background-image: url("./assets/images/iphone/Shadow.png");
    background-size: cover; }
  .slider__slide_slide-1 {
    position: absolute;
    left: 0;
    display: none; }
  .slider__slide_slide-2 {
    position: absolute;
    left: 0;
    display: none; }
  .slider_active, .slider_next {
    display: block; }

@media (max-width: 768px) {
  .slider {
    width: 768px;
    height: 447px; }
    .slider__control_previous {
      background-position: 41px 210px; }
    .slider__control_next {
      background-position: 42px 210px; }
    .slider__slide_slide-1::before {
      left: 404px;
      width: 180px;
      height: 363px; }
    .slider__slide_slide-1::after {
      top: 53px;
      left: 100px;
      width: 180px;
      height: 363px; } }

@media (max-width: 375px) {
  .slider {
    width: 375px;
    height: 218px; }
    .slider__control_previous {
      background-position: 10px 98px; }
    .slider__control_next {
      background-position: 12px 95px; }
    .slider__slide_slide-1::before {
      top: 25px;
      left: 200px;
      width: 88px;
      height: 177px; }
    .slider__slide_slide-1::after {
      top: 24px;
      left: 50px;
      width: 88px;
      height: 177px; } }

.controls__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none; }
  .controls__list_control {
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100px;
    height: 600px;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear; }
    .controls__list_control:focus {
      outline: 1px dotted rgba(128, 128, 128, 0.2);
      -webkit-transition: all 0.2s linear;
      transition: all 0.2s linear; }

@media (max-width: 768px) {
  .controls__list_control {
    height: 447px; } }

@media (max-width: 375px) {
  .controls__list_control {
    width: 40px;
    height: 218px; } }

.iphone {
  position: absolute;
  z-index: 1;
  width: 218px;
  height: 460px;
  background-image: url("./assets/images/iphone/iPhone_Vertical.svg");
  background-repeat: no-repeat; }
  .iphone_three-phones {
    position: absolute;
    top: 5px;
    left: 112px;
    width: 800px;
    height: 590px;
    background-image: url("./assets/images/slider/Slide-2.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  .iphone_vertical {
    top: 53px;
    left: 112px;
    cursor: pointer;
    -webkit-transition: background 0.4s ease-in;
    transition: background 0.4s ease-in; }
    .iphone_vertical::after {
      position: absolute;
      top: 62px;
      left: 11px;
      box-sizing: border-box;
      display: block;
      width: 194px;
      height: 339px;
      content: "";
      background: rgba(128, 128, 128, 0.1);
      background-image: url("./assets/images/iphone/Layer_6.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      border: 2px solid #c6c6c6;
      border-radius: 3px; }
    .iphone_vertical-off::after {
      background: black;
      background-image: -webkit-linear-gradient(left, #1f1c1a 0.1%, #000000 99.99%);
      background-image: linear-gradient(to right, #1f1c1a 0.1%, #000000 99.99%); }
  .iphone_horizontal {
    top: 53px;
    left: 544px;
    cursor: pointer;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg); }
    .iphone_horizontal::after {
      position: absolute;
      top: 134px;
      right: -60px;
      box-sizing: border-box;
      display: block;
      width: 339px;
      height: 194px;
      content: "";
      background: rgba(128, 128, 128, 0.1);
      background-image: url("./assets/images/iphone/Layer_5.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      border: 2px solid #c6c6c6;
      border-radius: 3px;
      -webkit-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
              transform: rotate(-90deg); }
    .iphone_horizontal-off::after {
      background: black;
      background-image: -webkit-linear-gradient(left, #1f1c1a 0.1%, #000000 99.99%);
      background-image: linear-gradient(to right, #1f1c1a 0.1%, #000000 99.99%); }

@media (max-width: 768px) {
  .iphone {
    width: 162px;
    height: 344px;
    background-size: cover; }
    .iphone_vertical {
      left: 100px; }
      .iphone_vertical::after {
        top: 55px;
        width: 142px;
        height: 250px; }
    .iphone_horizontal {
      left: 404px; }
      .iphone_horizontal::after {
        top: 104px;
        right: -45px;
        width: 250px;
        height: 142px; }
    .iphone_three-phones {
      top: 15px;
      left: 70px;
      width: 650px;
      height: 420px; } }

@media (max-width: 375px) {
  .iphone {
    width: 80px;
    height: 170px; }
    .iphone_vertical {
      top: 22px;
      left: 50px; }
      .iphone_vertical::after {
        top: 24px;
        left: 5px;
        width: 70px;
        height: 122px; }
    .iphone_horizontal {
      top: 24px;
      left: 200px; }
      .iphone_horizontal::after {
        top: 50px;
        right: -21px;
        width: 122px;
        height: 70px; }
    .iphone_three-phones {
      top: 10px;
      left: 30px;
      width: 300px;
      height: 200px; } }

.services {
  width: 1020px;
  min-height: 500px;
  padding-top: 4.7rem;
  padding-bottom: 3.2rem;
  color: #767e9e;
  background-color: #f2f2f2;
  box-shadow: inset 0 -6px 0 0 #ffffff; }
  .services__title {
    margin: 0;
    margin-bottom: 0.7rem;
    font-size: 3rem;
    font-weight: 900;
    line-height: 6rem;
    color: #666d89;
    text-transform: capitalize; }
  .services__paragraph {
    margin: 0;
    font-size: 1.72rem;
    font-weight: 300;
    line-height: 3rem;
    color: #767e9e;
    text-align: start;
    margin-bottom: 4.5rem;
    text-align: justify; }
  .services__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
    margin: 0; }
  .services__item {
    position: relative;
    width: 221px;
    min-height: 100px;
    padding-left: 8rem;
    margin-bottom: 2.3rem;
    list-style: none; }
    .services__item::before {
      position: absolute;
      top: 0.1rem;
      left: 0.1rem;
      display: block;
      width: 55px;
      height: 55px;
      content: "";
      background-repeat: no-repeat;
      background-position: center;
      border: 2px solid #666d89;
      border-radius: 50%; }
    .services__item_design::before {
      background-image: url("./assets/images/icons/pen.svg"); }
    .services__item_ideas::before {
      background-image: url("./assets/images/icons/bulb.svg"); }
    .services__item_love::before {
      background-image: url("./assets/images/icons/heart.svg"); }
    .services__item_responsive::before {
      background-image: url("./assets/images/icons/phone.svg"); }
    .services__item_support::before {
      background-image: url("./assets/images/icons/bubble.svg"); }
    .services__item_feeling::before {
      background-image: url("./assets/images/icons/star.svg"); }
    .services__item-title {
      margin: 0;
      margin-bottom: 1rem;
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 1.6rem;
      color: #666d89;
      text-transform: capitalize; }
    .services__item-paragraph {
      margin: 0;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 2.2rem;
      color: #767e9e;
      text-align: justify; }

@media (max-width: 768px) {
  .services {
    width: 768px;
    padding: 40px 40px 64px; }
    .services__item {
      margin-right: 20px; } }

@media (max-width: 375px) {
  .services {
    width: 375px;
    padding: 30px; } }

.works {
  display: grid;
  grid-template-rows: repeat(3, 187px);
  grid-template-columns: repeat(4, 220px);
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: calc(207px * 3);
  padding: 0;
  margin: 0;
  gap: 20px;
  overflow: hidden; }
  .works__item {
    list-style: none;
    cursor: pointer;
    outline: none;
    -webkit-transition: top 2s linear;
    transition: top 2s linear; }
    .works__item:focus {
      outline: 5px solid #f06c64;
      outline-offset: -5px;
      -webkit-transition: all 0.2s linear;
      transition: all 0.2s linear; }

@media (max-width: 768px) {
  .works {
    grid-template-rows: repeat(4, 183px);
    grid-template-columns: repeat(3, 216px);
    max-height: calc(203px * 4); }
    .works__item-picture {
      width: 216px;
      height: 183px; } }

@media (max-width: 375px) {
  .works {
    grid-template-rows: repeat(4, 130px);
    grid-template-columns: repeat(2, 152px);
    gap: 10px;
    max-height: calc(140px * 4); }
    .works__item-picture {
      width: 151px;
      height: 128px; } }

.team {
  padding-top: 47px;
  padding-bottom: 73px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 90px;
  background-color: #f2f2f2;
  box-shadow: inset 0 -6px 0 0 #ffffff; }
  .team__title {
    margin: 0;
    font-size: 3rem;
    font-weight: 900;
    color: #666d89;
    text-align: start;
    text-transform: capitalize;
    margin-bottom: 5px;
    line-height: 2.05;
    letter-spacing: -0.1px; }
  .team__paragraph {
    margin: 0;
    font-size: 1.72rem;
    font-weight: 300;
    line-height: 3rem;
    color: #767e9e;
    text-align: start;
    margin-bottom: 41px;
    line-height: 3.2rem;
    text-align: justify; }
  .team__members {
    padding: 0;
    margin: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: #767e9e; }
  .team__person {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .team__person-title {
      margin: 0;
      font-size: 3rem;
      font-weight: 900;
      color: #666d89;
      text-align: start;
      text-transform: capitalize;
      padding-top: 15px;
      padding-bottom: 6px;
      font-size: 1.8rem;
      line-height: 1.3;
      letter-spacing: -0.1px; }
    .team__person-paragraph {
      margin: 0;
      font-size: 1.72rem;
      font-weight: 300;
      line-height: 3rem;
      color: #767e9e;
      text-align: start;
      padding-bottom: 20px;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.8;
      text-align: justify; }
  .team__contacts {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: start;
        -ms-flex-pack: start;
            justify-content: start; }

@media (max-width: 768px) {
  .team {
    padding-bottom: 75px; }
    .team__members {
      grid-template-columns: repeat(3, 218px); }
    .team__person-photo {
      width: 218px;
      height: 218px; } }

@media (max-width: 375px) {
  .team {
    padding-bottom: 15px; }
    .team__members {
      grid-template-columns: 1fr; }
    .team__person {
      margin-bottom: 35px; }
      .team__person-photo {
        width: 314px;
        height: 314px; }
      .team__person-title {
        font-size: 2rem;
        line-height: 1.1; }
      .team__person-paragraph {
        font-size: 1.6rem;
        line-height: 1.3; } }

.portfolio {
  padding-top: 47px;
  padding-bottom: 73px;
  padding-top: 45px;
  color: #767e9e;
  background-color: #2d303a;
  box-shadow: inset 0 -6px 0 0 #323746; }
  .portfolio__title {
    margin: 0;
    font-size: 3rem;
    font-weight: 900;
    color: #666d89;
    text-align: start;
    text-transform: capitalize;
    margin-bottom: 3px;
    line-height: 2.15; }
  .portfolio__paragraph {
    margin: 0;
    font-size: 1.72rem;
    font-weight: 300;
    line-height: 3rem;
    color: #767e9e;
    text-align: start;
    margin-bottom: 10px; }
  .portfolio__sort {
    padding: 0;
    margin: 0;
    list-style: none;
    display: grid;
    grid-template-rows: 24px;
    grid-template-columns: repeat(4, auto);
    -webkit-box-pack: start;
    -webkit-justify-content: start;
        -ms-flex-pack: start;
            justify-content: start;
    gap: 10px;
    margin-bottom: 19px;
    font-size: 12px;
    font-weight: 400; }

.sort__item {
  padding: 6px 3px;
  line-height: 1rem;
  text-align: center;
  text-transform: capitalize;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #767e9e;
  border-radius: 6px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear; }
  .sort__item_active {
    color: #bbbbbb;
    border-color: #bbbbbb;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear; }
  .sort__item:hover {
    border-color: #bbbbbb;
    box-shadow: inset 0 0 1px 1px rgba(187, 187, 187, 0.6); }

.contacts {
  padding-top: 47px;
  padding-bottom: 73px;
  position: relative;
  padding-top: 47px;
  padding-bottom: 59px;
  background-color: #f06c64;
  box-shadow: inset 0 -6px 0 0 #ea676b; }
  .contacts__title {
    margin: 0;
    font-size: 3rem;
    font-weight: 900;
    color: #666d89;
    text-align: start;
    text-transform: capitalize;
    margin-bottom: 4px;
    color: #f0d8d9;
    text-transform: none;
    letter-spacing: -0.1px; }
  .contacts__paragraph {
    margin: 0;
    font-size: 1.72rem;
    font-weight: 300;
    line-height: 3rem;
    color: #767e9e;
    text-align: start;
    margin-bottom: 42px;
    line-height: 3.15rem;
    color: #f0d8d9;
    text-align: justify; }
  .contacts__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .contacts__form {
    width: 619px; }
  .contacts__contact-info {
    padding-left: 20px; }
  .contacts__contact-title {
    margin: 0;
    font-size: 3rem;
    font-weight: 900;
    color: #666d89;
    text-align: start;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 1.3;
    color: #f0d8d9;
    letter-spacing: -0.2px; }
  .contacts__contact-paragraph {
    margin: 10px 0 22px;
    font-size: 12px;
    line-height: 1.75;
    color: #f0d8d9;
    text-align: justify; }
  .contacts__contact-adress {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    padding-left: 23px;
    color: #f0d8d9; }
    .contacts__contact-adress_location::before {
      position: absolute;
      display: block;
      width: 12px;
      height: 12px;
      content: "";
      background-repeat: no-repeat;
      background-position: center;
      top: 5px;
      left: 1px;
      background-image: url("./assets/images/icons/location-contacts.png"); }
    .contacts__contact-adress_phone {
      letter-spacing: 0.5px; }
    .contacts__contact-adress_phone::before {
      position: absolute;
      display: block;
      width: 12px;
      height: 12px;
      content: "";
      background-repeat: no-repeat;
      background-position: center;
      top: 27px;
      left: 1px;
      background-image: url("./assets/images/icons/phone-contacts.png"); }
    .contacts__contact-adress_email::before {
      position: absolute;
      display: block;
      width: 12px;
      height: 12px;
      content: "";
      background-repeat: no-repeat;
      background-position: center;
      top: 49px;
      left: 1px;
      background-image: url("./assets/images/icons/mail-contacts.png"); }
    .contacts__contact-adress_link {
      color: #ffffff;
      text-decoration: none;
      cursor: pointer;
      -webkit-transition: all 0.2s linear;
      transition: all 0.2s linear;
      font-size: 11px;
      font-weight: 600;
      opacity: 0.8; }
      .contacts__contact-adress_link:hover, .contacts__contact-adress_link:active {
        opacity: 1; }

@media (max-width: 768px) {
  .contacts__form {
    width: 440px; } }

@media (max-width: 375px) {
  .contacts__form {
    width: 315px;
    margin-bottom: 32px; }
  .contacts__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .contacts__contact-info {
    padding-left: 0; }
  .contacts__title {
    font-size: 2rem; }
  .contacts__contact-paragraph {
    font-size: 1.6rem; }
  .contacts__contact-adress_link {
    padding-left: 5px;
    font-size: 1.6rem; }
  .contacts__contact-adress_location::before {
    top: 10px;
    width: 18px;
    height: 18px;
    background-size: contain; }
  .contacts__contact-adress_phone::before {
    top: 40px;
    width: 18px;
    height: 18px;
    background-size: contain; }
  .contacts__contact-adress_email::before {
    top: 72px;
    width: 18px;
    height: 18px;
    background-size: contain; } }

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .form__element {
    box-sizing: border-box;
    height: 38px;
    padding: 10px 12px;
    margin-bottom: 16px;
    font-size: 12px;
    font-weight: 400;
    color: #ffffff;
    background-color: #d6564f;
    border: 2px solid transparent;
    border-radius: 5px;
    outline: none;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear; }
    .form__element::-webkit-input-placeholder {
      color: #f2f2f2;
      opacity: 0.5; }
    .form__element::-moz-placeholder {
      color: #f2f2f2;
      opacity: 0.5; }
    .form__element:-ms-input-placeholder {
      color: #f2f2f2;
      opacity: 0.5; }
    .form__element::-ms-input-placeholder {
      color: #f2f2f2;
      opacity: 0.5; }
    .form__element::placeholder {
      color: #f2f2f2;
      opacity: 0.5; }
    .form__element:hover, .form__element:focus {
      border: 2px solid #f2f2f2;
      -webkit-transition: all 0.2s linear;
      transition: all 0.2s linear; }
    .form__element_textarea {
      width: 619px;
      height: 202px;
      resize: none; }
    .form__element_button {
      width: 136px;
      min-width: 30px;
      margin: 0;
      font-size: 1.4rem;
      font-weight: 600;
      color: #666d89;
      text-transform: uppercase;
      cursor: pointer;
      background-color: #fbc65f;
      outline: none;
      opacity: 0.8; }
      .form__element_button:hover, .form__element_button:focus {
        opacity: 1;
        -webkit-transition: all 0.2s linear;
        transition: all 0.2s linear; }

@media (max-width: 768px) {
  .form__element_textarea {
    width: 440px; } }

@media (max-width: 375px) {
  .form__element_textarea {
    width: 315px; } }

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 33px 25px 39px;
  background-color: #2d303a; }

.copyright {
  position: relative;
  padding-top: 22px;
  font-size: 12px;
  font-weight: 100;
  color: #ffffff;
  opacity: 0.3; }
  .copyright__author {
    padding-left: 5px; }
  .copyright__author::before {
    position: absolute;
    top: 2.2rem;
    right: 9.2rem;
    font-weight: 900;
    color: #494e62;
    content: "\00B7"; }

.modal {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff; }
  .modal__wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    visibility: hidden;
    box-shadow: inset 20px -10px 150px 120px rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(2px) saturate(0.8);
            backdrop-filter: blur(2px) saturate(0.8); }
    .modal__wrapper_show {
      visibility: visible;
      opacity: 1;
      -webkit-transition: 0.3s linear;
      transition: 0.3s linear; }
  .modal__content {
    position: fixed;
    top: 25vh;
    left: 33vw;
    box-sizing: border-box;
    width: 600px;
    height: 400px;
    padding: 1rem 3rem;
    visibility: hidden;
    background-color: #f06c64;
    border: 3px solid #d6564f;
    border-radius: 5px;
    box-shadow: 0 20px 25px 10px rgba(50, 50, 50, 0.5);
    opacity: 0; }
    .modal__content_show {
      visibility: visible;
      opacity: 1;
      -webkit-transition: 0.3s linear;
      transition: 0.3s linear; }
    .modal__content_list {
      padding: 0;
      margin: 0;
      list-style: none; }
    .modal__content_message {
      width: 530px;
      height: 200px;
      overflow-y: auto;
      line-height: 1.5;
      word-wrap: break-word; }
    .modal__content_title {
      margin-bottom: 3rem;
      font-size: 2rem;
      color: #fbc65f;
      text-align: center; }
  .modal__close {
    position: absolute;
    bottom: 2rem;
    left: 3rem;
    min-width: 136px;
    min-height: 36px;
    font-size: 1.4rem;
    font-weight: 600;
    color: #666d89;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #fbc65f;
    border: 2px solid #fbc65f;
    border-radius: 0.7rem;
    outline: none; }
    .modal__close:hover, .modal__close:focus {
      border-color: #f2f2f2;
      -webkit-transition: all 0.2s linear;
      transition: all 0.2s linear; }
