/* normalize starts */

html {
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

h1 {
  margin: 0.67rem 0;
  font-size: 2rem;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace;
  font-size: 1rem;
}

a {
  background-color: transparent;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace;
  font-size: 1rem;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25rem;
}

sup {
  top: -0.5rem;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35rem 0.75rem 0.625rem;
}

legend {
  box-sizing: border-box;
  display: table;
  max-width: 100%;
  padding: 0;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.visually-hidden:not(focus):not(active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* normalize ends */

:root {
  font-family: "Lato", sans-serif;
  font-size: 10px;
  line-height: 20px;
  scroll-behavior: smooth;
}

.page {
  width: 1020px;
  margin: 0 auto;
  box-shadow: 0px 1px 3px 0px rgba(50,55,70,0.7);
}

.page::-webkit-scrollbar {
  width: 1.5rem;
}

.page::-webkit-scrollbar-track {
  background-color: #f06c64;
}

.page::-webkit-scrollbar-thumb {
  background-color: #2d303a;
  border-radius: 20px;
  outline: 1px solid #f06c64;
  box-shadow: inset 0 0 10px #000000;
}


.wrapper {
  box-sizing: border-box;
  padding-left: 4rem;
  padding-right: 4rem;
}

.header__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  min-height: 95px;
  background-color: #2d303a;
  color: #ffffff;
  box-shadow: inset 0px -6px 0px 0px #323746;
}


.logo {
  margin: 0;
  padding: 0;
}

.logo__item {
  list-style: none;
}

.link {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s linear;
}

.logo__item-link {
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.logo__link-star {
  color: #f06c64;
}

.navigation-main {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-width: 70%;
}

.navigation-main__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 371px;
  margin: 0;
  padding: 0;
}

.navigation-main__item {
  position: relative;
  list-style: none;
  padding-right: 3rem;
}

.navigation-main__item::after {
  content: "\00B7";
  position: absolute;
  top: 0;
  right: 1.4rem;
  color: #494e62;
  font-weight: 700;
}

.navigation-main__item:last-child::after {
  content: "";
}

.navigation-main__item-link {
  font-size: 1.2rem;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.navigation-main__item-link:hover {
  color: #f06c64;
  transition: all 0.2s linear;
}

.slider {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 600px;
  background-color: #f06c64;
  box-shadow: inset 0px -6px 0px 0px  #ea676b;
}

.slider__gallery {
  width: 80%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.controls__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.control {
  box-sizing: border-box;
  display: flex;
  width: 100px;
  height: 600px;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: 0;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.2s linear;
  cursor: pointer;
  outline: none;
}

.slider__control_previous {
  background-image: url("/assets/chev.png");
}

.slider__control_previous:focus,
.slider__control_previous:hover {
  background-image: url("/assets/chev.png");
  box-shadow: inset 10px 0px 20px -15px rgba(50, 55, 70, 0.7);
  transition: all 0.2s linear;
  filter: contrast(0.8);
}

.slider__control_previous:active {
  box-shadow: inset 10px 0px 20px -15px rgba(50, 55, 70, 1);
}

.slider__control_next {
  background-image: url("/assets/chev.png");
  transform: rotate(180deg);
}

.slider__control_next:focus,
.slider__control_next:hover {
  background-image: url("/assets/chev.png");
  box-shadow: inset 10px 0px 20px -15px rgba(50, 55, 70, 1);
  transition: all 0.2s linear;
  filter: contrast(0.8);
}

.slider__control_next:hover {
  box-shadow: inset 10px 0px 20px -15px rgba(50, 55, 70, 0.8);
}

.iphone {
  position: absolute;
  width: 215px;
  height: 458px;
  background-image: url("/assets/iphone/iPhone_Vertical.svg");
  background-repeat: no-repeat;
  z-index: 1;
}

.iphone_vertical {
  top: 53px;
  left: 112px;
}

.iphone_vertical::after {
  position: absolute;
  content: "";
  background-image: url("/assets/Layer_6.png");
  display: block;
  top: 55px;
  left: 10px;
  width: 188px;
  height: 333px;
  border: 2px solid gray;
  border-radius: 5px;
}

.iphone_horizontal {
  top: 53px;
  right: 260px;
  transform: rotate(90deg);
}

.iphone_horizontal::after {
  position: absolute;
  content: "";
  background-image: url("/assets/Layer_5.png");
  display: block;
  top: 130px;
  right: -60px;
  width: 333px;
  height: 188px;
  transform: rotate(-90deg);
  border: 2px solid gray;
  border-radius: 5px;
}

.slider__slide_slide-1::before {
  content: "";
  display: block;
  position: absolute;
  width: 240px;
  height: 483px;
  top: 55px;
  right: 235px;
  background-image: url("/assets/iphone/Shadow.png");
  transform: rotate(90deg) scale(1, -1);
}

.slider__slide_slide-1::after {
  content: "";
  display: block;
  position: absolute;
  width: 240px;
  height: 483px;
  top: 55px;
  left: 125px;
  background-image: url("/assets/iphone/Shadow.png");
}

.services {
  width: 1020px;
  min-height: 500px;
  background-color: #f2f2f2;
  color: #767e9e;
  padding-top: 6.7rem;
  padding-bottom: 3.2rem;
  box-shadow: inset 0px -6px 0px 0px #ffffff;
}

.services__title {
  margin: 0;
  margin-bottom: 3rem;
  color: #666d89;
  font-size: 3rem;
  font-weight: 900;
  line-height: 6rem;
  text-transform: capitalize;
}

.services__paragraph {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 3rem;
  text-align: justify;
  margin: 0;
  margin-bottom: 5rem;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.services__item {
  position: relative;
  width: 220px;
  min-height: 90px;
  padding-left: 8rem;
  margin-bottom: 3.5rem;
  list-style: none;
}

.services__item::before {
  content: "";
  position: absolute;
  display: block;
  width: 59px;
  height: 59px;
  top: 0;
  left: 0;
  border: 2px solid #666d89;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

.services__item_design::before {
  background-image: url("/assets/icons/pen.svg");
}

.services__item_ideas::before {
  background-image: url("/assets/icons/bulb.svg");
}

.services__item_love::before {
  background-image: url("/assets/icons/heart.svg");
}

.services__item_responsive::before {
  background-image: url("/assets/icons/phone.svg");
}

.services__item_support::before {
  background-image: url("/assets/icons/bubble.svg");
}

.services__item_feeling::before {
  background-image: url("/assets/icons/star.svg");
}

.services__item-title {
  color: #666d89;
  font-size: 1.8rem;
  font-weight: 900;
  line-height: 2rem;
  margin-bottom: 1.5rem;
  text-transform: capitalize;
}

.services__item-paragraph {
  color: #767e9e;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2rem;
  margin: 0;
  text-align: justify;
}
