.team {
  @include section-vertical-paddings;

  display: flex;
  flex-direction: column;
  background-color: $services-background-color;

  &__title {
    @include title;

    margin-bottom: 33px;
  }

  &__paragraph {
    @include paragraph;

    margin-bottom: 49px;
  }

  &__members {
    @include reset-list;

    display: grid;
    grid-template-rows: 3, 100px;
    grid-template-columns: repeat(3, 300px);
    justify-content: space-between;
    color: $services-item-color;
  }

  &_person {
    display: flex;
    flex-direction: column;
  }

  &__title {
    @include title;

    overflow-x: auto;
    font-size: 18px;
  }

  &__contacts {
    @include reset-list;

    display: flex;
    justify-content: start;
  }
}
