.form {
  display: flex;
  flex-direction: column;

  &__element {
    box-sizing: border-box;
    height: 38px;
    padding: 10px 12px;
    margin-bottom: 16px;
    font-size: 12px;
    font-weight: 400;
    color: $font-color-main;
    background-color: #d6564f;
    border: 2px solid transparent;
    border-radius: 5px;
    outline: none;
    transition: $transition;

    &::placeholder {
      color: $services-background-color;
      opacity: 0.5;
    }

    &:hover,
    &:focus {
      border: 2px solid $services-background-color;
      transition: $transition;
    }

    &_textarea {
      width: 619px;
      height: 202px;
      resize: none;
    }

    &_button {
      position: absolute;
      right: 40px;
      bottom: 56px;
      width: 300px;
      min-width: 50px;
      font-size: 1.4rem;
      font-weight: 600;
      color: $accent-color;
      text-transform: capitalize;
      background-color: $font-color-main;
      border: 2px solid $services-background-color;
      outline: none;
      opacity: 0.8;

      &:hover,
      &:focus {
        opacity: 1;
        transition: $transition;
      }
    }
  }
}
