$font: "Lato", sans-serif;
$width: 1020px;
$transition: all 0.2s linear;
$transition-gallery: all 0.3s ease-in-out;
$scroll-width: 1.5rem;

$accent-color: #f06c64;
$second-slide-color: #648bf0;
$default-color: #000000;
$wrapper-shadow: 0 1px 3px 0 rgba(50, 55, 70, 0.7);
$button-color: #fbc65f;

$wrapper-padding: 4rem;

$background-color-header: #2d303a;
$font-color-main: #ffffff;
$header-height: 95px;
$bottom-line: inset 0 -6px 0 0 #323746;

$navigation-list-width: 371px;

$slider-height: 600px;

$slider-control-width: 100px;
$slider-control-height: 600px;

$iphone-border: 2px solid #c6c6c6;
$iphone-width: 194px;
$iphone-height: 339px;

$services-item-color: #767e9e;
$services-background-color: #f2f2f2;
$services-block-height: 500px;
$services-title-color: #666d89;
$services-item-width: 221px;
$services-item-height: 100px;
$services-icon-size: 55px;

$works-item-width: 220px;
$works-item-height: 187px;
$works-gap: 20px;

$social-icon-size: 30px;

$modal-width: 600px;
$modal-height: 400px;
