$font: "Lato", sans-serif;
$transition: all 0.2s linear;
$transition-gallery: all 0.3s ease-in-out;
$scroll-width: 15px;

$bottom-z-index: 1;
$lower-z-index: 9;
$higher-z-index: 99;
$modal-z-index: 999;
$top-z-index: 9999;

$screen-width: 1920px;
$width: 1020px;
$medium-width: 768px;
$narrow-width: 375px;

$accent-color: #f06c64;
$second-slide-color: #648bf0;
$default-color: #000000;
$wrapper-shadow: 0 1px 3px 0 rgba(50, 55, 70, 0.7);

$button-color: #fbc65f;
$burger-outer-size: 60px;
$burger-inner-size: 24px;

$wrapper-padding: 4rem;

$background-color-header: #2d303a;
$font-color-main: #ffffff;
$header-height: 95px;
$bottom-line: inset 0 -6px 0 0 #323746;

$navigation-list-width: 371px;

$slider-height: 600px;
$slider-height-medium: 447px;
$slider-height-small: 218px;

$phone-horizontal-position-left: 404px;

$slider-control-width: 100px;
$slider-control-height: 600px;

$iphone-border: 2px solid #c6c6c6;
$iphone-width: 194px;
$iphone-height: 339px;

$services-item-color: #767e9e;
$services-background-color: #f2f2f2;
$services-block-height: 500px;
$services-title-color: #666d89;
$services-item-width: 221px;
$services-item-height: 100px;
$services-icon-size: 55px;

$works-item-width: 220px;
$works-item-height: 187px;
$works-item-width-medium: 216px;
$works-item-height-medium: 183px;
$works-gap: 20px;

$social-icon-size: 30px;

$modal-width: 600px;
$modal-height: 400px;
