.navigation-main {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 0.5rem;

  &__button {
    display: none;
  }

  &__list {
    position: relative;
    display: flex;
    justify-content: space-between;
    min-width: $navigation-list-width;
    padding: 0;
    margin: 0;

    &::before {
      position: absolute;
    }
  }

  &__item {
    position: relative;
    padding-right: 2.8rem;
    font-size: 2rem;
    font-weight: 700;
    line-height: 4rem;
    list-style: none;

    &::after {
      position: absolute;
      top: 0.2rem;
      right: 1.1rem;
      font-weight: 300;
      color: #494e62;
      content: "\00B7";
    }

    &:last-child,
    &:last-child::after {
      padding-right: 0;
      content: "";
    }
  }

  &__item-link {
    padding: 20px 0;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;

    &:hover {
      color: $accent-color;
      transition: $transition;
    }
  }
}

@media (min-width: $medium-width) and (max-width: 1019px) {
  .navigation-main {
    &__item-link {
      font-size: 1.5rem;
    }

    &__button {
      display: none;
    }
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  *:hover {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    -webkit-touch-callout: none;
  }

  .navigation-main {
    position: absolute;
    top: $header-height;
    left: -200%;
    z-index: $higher-z-index;
    width: $narrow-width - 70px;
    height: 100vh;
    background-color: #2d303a;
    transition: left 0.3s linear;

    &__item-link {
      font-size: 2.4rem;
      line-height: 2;
    }

    &__item {
      padding: 0;

      &::after {
        content: "";
      }
    }

    &__list {
      position: absolute;
      top: 150px;
      left: 33%;
      display: flex;
      flex-direction: column;
      min-width: 210px;
    }

    &__button {
      position: fixed;
      top: 4px;
      left: 10px;
      display: block;
      width: $burger-outer-size;
      height: $burger-outer-size;
      background-color: transparent;
      border: none;
      outline: none;
      transition: transform 0.15s ease;

      &-inner {
        @include burger;

        top: 50%;
        left: ($burger-outer-size - $burger-inner-size) / 2;
        transition: transform 0.3s linear;

        &::before {
          @include burger;

          top: -10px;
          content: "";
        }

        &::after {
          @include burger;

          top: 10px;
          content: "";
        }

        &_reverse {
          transition: transform 0.3s linear;
          transform: rotate(270deg);
        }
      }
    }

    &_show {
      left: 0;
      transition: left 0.3s linear;
    }
  }
}
