.navigation-main {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 0.5rem;

  &__button {
    display: none;
  }

  &__list {
    position: relative;
    display: flex;
    justify-content: space-between;
    min-width: $navigation-list-width;
    padding: 0;
    margin: 0;

    &::before {
      position: absolute;
    }
  }

  &__item {
    position: relative;
    padding-right: 2.8rem;
    font-size: 2rem;
    font-weight: 700;
    line-height: 4rem;
    list-style: none;

    &::after {
      position: absolute;
      top: 0.2rem;
      right: 1.1rem;
      font-weight: 300;
      color: #494e62;
      content: "\00B7";
    }

    &:last-child,
    &:last-child::after {
      padding-right: 0;
      content: "";
    }
  }

  &__item-link {
    padding: 20px 0;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;

    &:hover {
      color: $accent-color;
      transition: $transition;
    }
  }
}

@media (max-width: $narrow-width) {
  .navigation-main {
    position: absolute;
    left: -150%;
    display: block;

    &__button {
      position: fixed;
      top: 32px;
      left: 20px;
      display: block;
      width: 25px;
      height: 20px;
      background-color: transparent;
      border: none;
      transition: transform 0.15s ease;

      &-inner {
        @include burger;

        top: 50%;

        &::before {
          @include burger;

          top: -10px;
          content: "";
        }

        &::after {
          @include burger;

          top: 10px;
          content: "";
        }
      }
    }
  }
}
