.link {
  @include reset-link;

  outline: none;

  &:focus,
  &_active,
  &_active:hover {
    color: $accent-color;
  }

  &_contacts {
    position: relative;
    padding-right: 40px;
    transition: 0.1s linear;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: $social-icon-size;
      height: $social-icon-size;
      content: "";
      background-repeat: no-repeat;
      background-position: center;
      border: 1px solid $services-title-color;
      border-radius: 50%;
    }

    &:focus::before,
    &:hover::before {
      @include interactive;
    }

    &-facebook::before {
      background-image: url("../assets/images/icons/facebook.png");
    }

    &-google::before {
      background-image: url("../assets/images/icons/google.png");
    }

    &-twitter::before {
      background-image: url("../assets/images/icons/twitter.png");
    }

    &-linkedin::before {
      background-image: url("../assets/images/icons/linkedin.png");
    }
  }
}
