.portfolio {
  @include section-vertical-paddings;

  color: $services-item-color;
  background-color: $background-color-header;
  box-shadow: inset 0 -6px 0 0 #323746;

  &__title {
    @include title;

    margin-bottom: 3px;
    line-height: 2.15;
  }

  &__paragraph {
    @include paragraph;

    margin-bottom: 10px;
  }

  &__sort {
    @include reset-list;

    display: grid;
    grid-template-rows: 24px;
    grid-template-columns: 29px 78px 93px 57px;
    justify-content: start;
    gap: 10px;
    margin-bottom: 19px;
    font-size: 12px;
    font-weight: 400;
  }
}
