.portfolio {
  @include section-vertical-paddings;

  color: $services-item-color;
  background-color: $background-color-header;

  &__title {
    @include title;

    margin-bottom: 8px;
  }

  &__paragraph {
    @include paragraph;

    margin-bottom: 20px;
  }

  &__sort {
    @include reset-list;

    display: grid;
    grid-template-rows: 24px;
    grid-template-columns: 29px 78px 93px 57px;
    justify-content: start;
    gap: 10px;
    margin-bottom: 20px;
  }
}
