.logo {
  padding: 0;
  margin: 0;

  &__item {
    list-style: none;
    transition: all 0.3s linear;

    &-link {
      font-size: 2.41rem;
      font-weight: 700;
      line-height: 1.7rem;
      text-transform: uppercase;
    }
  }

  &__link-star {
    color: $accent-color;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .logo {
    z-index: $top-z-index;
    margin: 0 auto;

    &__item_menu {
      margin-left: -33%;
      transition: all 0.3s linear;
    }
  }
}
