.slider {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: $slider-height;
  overflow: hidden;
  transition: $transition;

  &_background-red {
    background-color: $accent-color;
    box-shadow: inset 0 -6px 0 0 #ea676b;
    transition: $transition;
  }

  &_background-blue {
    background-color: $second-slide-color;
    box-shadow: inset 0 -6px 0 0 #ececec;
    transition: $transition;
  }

  &__gallery {
    width: 80%;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__control_previous {
    background-image: url("../assets/images/icons/chev.png");
    background-position: 41px 281px;
    transition: $transition;

    &:focus,
    &:hover {
      background-image: url("../assets/images/icons/chev.png");
    }
  }

  &__control_next {
    background-image: url("../assets/images/icons/chev.png");
    background-position: 42px 292px;
    transition: $transition;
    transform: rotate(180deg);

    &:focus,
    &:hover {
      background-image: url("../assets/images/icons/chev.png");
    }
  }

  &__control_blue,
  &__control_blue:hover,
  &__control_blue:focus {
    filter: grayscale(1);
    transition: $transition;
  }

  &__control_previous:focus,
  &__control_previous:hover,
  &__control_next:focus,
  &__control_next:hover {
    filter: contrast(0.8);
    box-shadow: inset 10px 0 20px -15px rgb(50, 55, 70);
    transition: $transition;
  }

  &__control_previous:active,
  &__control_next:active {
    box-shadow: inset 10px 0 20px -15px rgba(50, 55, 70, 0.8);
  }

  &__control_blue,
  &__control_blue:hover,
  &__control_blue:focus {
    filter: grayscale(1);
  }

  &__slide_slide-1::before {
    position: absolute;
    top: 53px;
    right: 232px;
    display: block;
    width: 240px;
    height: 483px;
    content: "";
    background-image: url("../assets/images/iphone/Shadow.png");
    transform: rotate(90deg) scale(1, -1);
  }

  &__slide_slide-1::after {
    position: absolute;
    top: 53px;
    left: 113px;
    display: block;
    width: 240px;
    height: 483px;
    content: "";
    background-image: url("../assets/images/iphone/Shadow.png");
  }

  &__slide_to-right {
    transition: $transition;
    transform: translateX(100vw);
  }

  &__slide_to-left {
    transition: $transition;
    transform: translateX(-100vw);
  }

  &_hide {
    display: none;
  }
}
