.contacts {
  @include section-vertical-paddings;

  position: relative;
  padding-top: 49px;
  padding-bottom: 58px;
  background-color: $accent-color;
  box-shadow: inset 0 -6px 0 0 #ea676b;

  &__title {
    @include title;

    margin-bottom: 4px;
    color: #f0d8d9;
    text-transform: none;
    letter-spacing: -0.1px;
  }

  &__paragraph {
    @include paragraph;

    margin-bottom: 42px;
    line-height: 3.15rem;
    color: #f0d8d9;
  }

  &__container {
    display: flex;
  }

  &__form {
    width: 619px;
  }

  &__contact-info {
    padding-left: 20px;
  }

  &__contact-title {
    @include title;

    margin-bottom: 10px;
    font-size: 18px;
    line-height: 1.1;
    color: #f0d8d9;
    letter-spacing: -0.2px;
  }

  &__contact-paragraph {
    margin: 10px 0 22px;
    font-size: 12px;
    line-height: 1.8;
    color: #f0d8d9;
    text-align: justify;
  }

  &__contact-adress {
    @include reset-list;

    position: relative;
    padding-left: 23px;
    line-height: 2.15;
    color: #f0d8d9;

    &_location::before {
      @include icon-contacts;

      top: 4px;
      left: 1px;
      background-image: url("../assets/images/icons/location-contacts.png");
    }

    &_phone {
      letter-spacing: 0.5px;
    }

    &_phone::before {
      @include icon-contacts;

      top: 25px;
      left: 1px;
      background-image: url("../assets/images/icons/phone-contacts.png");
    }

    &_email::before {
      @include icon-contacts;

      top: 49px;
      left: 1px;
      background-image: url("../assets/images/icons/mail-contacts.png");
    }

    &_link {
      @include reset-link;

      font-size: 1.1rem;
      font-weight: 600;
      line-height: 2;
      opacity: 0.8;

      &:hover,
      &:active {
        opacity: 1;
      }
    }
  }
}
