.iphone {
  position: absolute;
  z-index: 1;
  width: 218px;
  height: 460px;
  background-image: url("../assets/images/iphone/iPhone_Vertical.svg");
  background-repeat: no-repeat;
  background-size: cover;

  &_three-phones {
    position: absolute;
    top: 5px;
    left: 112px;
    width: 800px;
    height: 590px;
    background-image: url("../assets/images/slider/Slide-2.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &_vertical {
    top: 53px;
    left: 112px;
    cursor: pointer;
    transition: background 0.4s ease-in;

    &::after {
      position: absolute;
      top: 62px;
      left: 11px;
      box-sizing: border-box;
      display: block;
      width: $iphone-width;
      height: $iphone-height;
      content: "";
      background: rgba(128, 128, 128, 0.1);
      background-image: url("../assets/images/iphone/Layer_6.jpg");
      background-repeat: no-repeat;
      background-position: center;
      border: $iphone-border;
      border-radius: 3px;
    }

    &-off::after {
      background: rgba(0, 0, 0, 1);
      background-image: linear-gradient(to right, #1f1c1a 0.1%, #000000 99.99%);
    }
  }

  &_horizontal {
    top: 53px;
    left: 544px;
    cursor: pointer;
    transform: rotate(90deg);

    &::after {
      position: absolute;
      top: 134px;
      right: -60px;
      box-sizing: border-box;
      display: block;
      width: $iphone-height;
      height: $iphone-width;
      content: "";
      background: rgba(128, 128, 128, 0.1);
      background-image: url("../assets/images/iphone/Layer_5.jpg");
      background-repeat: no-repeat;
      background-position: center;
      border: $iphone-border;
      border-radius: 3px;
      transform: rotate(-90deg);
    }

    &-off::after {
      background: rgba(0, 0, 0, 1);
      background-image: linear-gradient(to right, #1f1c1a 0.1%, #000000 99.99%);
    }
  }
}

@media (max-width: $medium-width) {
  .iphone {
    width: 162px;
    height: 344px;

    &_vertical {
      left: 100px;

      &::after {
        top: 50px;
        width: 142px;
        height: 250px;
      }
    }

    &_horizontal {
      left: $phone-horizontal-position-left;

      &::after {
        top: 104px;
        right: -45px;
        width: 250px;
        height: 142px;
      }
    }

    &_three-phones {
      top: 15px;
      left: 70px;
      width: 650px;
      height: 420px;
    }
  }
}
