.page {
  width: $width;
  padding-top: $header-height;
  margin: 0 auto;
  box-shadow: $wrapper-shadow;

  &_noscroll {
    padding-right: $scroll-width;
    overflow: hidden;
    box-shadow: none;
  }
}

@media (min-width: $medium-width) and (max-width: 1019px) and (max-width: 1019px) {
  .page {
    width: $medium-width;
    margin: 0 auto;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .page {
    width: $narrow-width;
    overflow: hidden;
  }
}
