.header {
  &__main {
    position: fixed;
    top: 0;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: $width;
    min-height: $header-height;
    color: $font-color-main;
    background-color: $background-color-header;
    box-shadow: $bottom-line, 0 -2px 10px 1px rgba(0, 0, 0, 0.3);
    opacity: 0.97;
  }
}

@media (max-width: $medium-width) {
  .header__main {
    width: $medium-width;
    transition: transform 0.5s linear;
  }

  .header__main[data-visibility="hidden"] {
    transition: transform 0.5s linear;
    transform: translateY(-100%);
  }
}

@media (max-width: $narrow-width) {
  .header__main {
    width: $narrow-width;
  }

  .header__main[data-visibility="hidden"] {
    transition: transform 0.5s linear;
    transform: translateY(-100%);
  }
}
